@tailwind base;
@tailwind components;
@tailwind utilities;

.location-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}
