.container {
    border: 0.01em solid beige;
    border-radius: 14px;
    box-shadow: 10px 10px 10px rgba(31, 239, 203, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center; /* Vertically centers the content */
    align-items: center;  
    width: 60vw; /* Set container width as 60% of viewport width */
    height: 70vh; /* Set container height as 70% of viewport height */
    text-align: center;
}

h1 {
    font-size: 45px;
    font-weight: 700;
    color: white;
    margin-bottom: 20px;
    text-align: center;
/*     text-shadow: 0 0 10px #00ff00; */
}
.green-text{
    color:green;
    text-decoration:bold;
}

.clue-container {
    display: flex;
    align-items: center;  /* Vertically center icon and text */
    justify-content: center; /* Horizontally center content */
    padding: 20px;
    background: transparent;
    border-radius: 8px;
    margin-bottom: 20px;
}

.clue-text {
    font-size: 22px;
    font-weight: 600;
    color: beige; /* Text color */
    font-style: italic;
    display: flex;
    align-items: center;
}

.icon {
    margin-right: 10px;
    font-size: 26px;
    color: white;
}
